@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f8;
  --foreground: #222;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --foreground: #f4f4f8;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* button */
.button-primary {
  background-color: #007bff;
  color: #fff;
}
.button-primary:hover {
  background-color: #0067eb
}
.button-secondary {
  background-color: #d9ebff;
  color: #007bff;
}
.button-secondary:hover {
  background-color: #bfdeff;
}
.button-cancel {
  background-color: #f0f0f0;
  color: #969696;
}
.button-cancel:hover {
  background-color: #dcdcdc;
}
.button-danger {
  background-color: #ffd9d9;
  color: #ff0000;
}
.button-danger:hover {
  background-color: #ffbfbf;
}
button:focus-visible {
  outline: none;
}
.button-primary:focus-visible {
  box-shadow: 0 0 0 4px rgba(0, 123, 255, .5);
}
.button-secondary:focus-visible {
  box-shadow: 0 0 0 4px rgba(0, 123, 255, .5);
}
.button-danger:focus-visible {
  box-shadow: 0 0 0 4px rgba(255, 0, 0, .5);
}

/* input */
.input-primary {
  background-color: #fff;
}
.input-primary:focus-within {
  border-color: #007bff;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, .25);
}
.input-danger {
  background-color: #fff;
  color: #ff0000;
  border-color: #ff0000;
}
.input-danger:focus-within {
  box-shadow: 0 0 0 4px rgba(255, 0, 0, .25);
}